@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center welcome">
    <h1 class="display-4">Welcome to Lexicon LMS</h1>
    @*<h2>Please Login </h2>
    <a class="nav-link fas fa-user" asp-area="Identity" asp-page="/Account/Login"></a>*@
</div>
