@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lexicon</h1><br /><br />


</div>
@if (!User.IsInRole("Teacher"))

{
    <h4>
        Next Assignment:

        
    </h4>
    <h4 id="viewComponent" class="p-2">
        @await Component.InvokeAsync("Activity") 

    </h4>
      

   
}