@model LMS.Core.Entities.Document

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data" >

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" />



            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
           

            <div class="form-group">
                <input  type="hidden" asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>

            @*<div class="form-group">

                
                <label asp-for="ApplicationUser.FirstName" class="control-label"></label>
                <input asp-for="ApplicationUser.FirstName" class="form-control" asp-items="ViewBag.ApplicationUserFirstName">
                <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>

            </div>*@


            <div class="form-group">
                <input type="hidden" asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId">
                <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="hidden" asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId">
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="hidden" asp-for="ActivityId" class="form-control" asp-items="ViewBag.ActivityId">
                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="hidden" asp-for="ModuleId" class="form-control" asp-items="ViewBag.ModuleId">
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>












            

            <div class="form-group">
                <label type="hidden" class="control-label">Choose file</label>
                <input type="file" class="form-control btn btn-primary" name="files" multiple />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-controller="Course" asp-action="CourseList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
