@model LMS.Core.Entities.Activity

@{
    ViewData["Title"] = "Create";
}

<h1>Activities</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-inline ">
                <label asp-for="Name" class="col-sm-2 col-form-label"  ></label>
                <div class="col-sm-10">
                <input type="text" asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group form-inline">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Description" class="form-control" />
                </div>    
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            
            <div class="form-group form-inline">
                <label asp-for="StartTime" class="col-sm-2  col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" asp-for="StartTime" class="form-control" />
                </div>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>   
            
            <div class="form-group form-inline">
                <label asp-for="EndTime" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" asp-for="EndTime" class="form-control" />
                </div>
                    <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group form-inline">
                <input type="hidden" name="ModuleId" value="@Model.ModuleId"/>
            </div>
                
            <div>   </div>
         
            <div class="form-group form-inline ">

                <label class="col-sm-2 col-form-label">ActivityType</label>
                <div class="col-sm-10">
                <select type="text" asp-for="ActivityTypeId" class="form-control" asp-items="ViewBag.ActivityTypeName"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary bg-transparent text-dark" style="border-color:transparent" />
                <h6 class="d-inline-block">|</h6>
                <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index", "Activities", new {id=Model.ModuleId })'" class="btn btn-primary bg-transparent text-dark" style="border-color:transparent"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
